# Source
src/

# Development
.git/
.github/
.gitignore
.npmrc
.env
.env.*

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
logs/
*.log
npm-debug.log*

# Dependencies
node_modules/

# Build process
tsconfig.json
.eslintrc
.prettierrc

# Tests
test/
coverage/
.nyc_output/

# Misc
.DS_Store
Thumbs.db 